*,
*::after,
::before {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin-right: 50px;
  box-shadow: 4px 4px 4px 4px rgba(43, 41, 41, 0.25);
  border-radius: 8px;
}

button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

body {
  background-color: var(--main-bkgrnd-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  padding: 0 200;
}

.breed-select {
  margin-top: 50px;
}

.cat-info {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}

h2,
p {
  margin-bottom: 15px;
  padding: 15px;
}

span {
  font-weight: 600;
  margin-right: 10px;
}
.wrapper {
  color: aliceblue;
  background-color: rgb(68, 8, 8);
  max-height: auto;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 4px 4px 4px 4px rgba(43, 41, 41, 0.25);
}
.error {
  color: rgb(224, 15, 32);
  font-weight: 700;
}
